extends ./layouts/default

block title
  title Koa douban 首页

block content
  div.container
    div.row
      div.col-md-8
        h1 Hi #{you}
        p This is #{me}
      div.col-md-4
        h3 测试动态 Pug 模板引擎中间件